nav.menu {
  width:128%;
  background-color: #4d5791;
  height: 44px;
  padding: 0 40px;

}

nav.menu ul,
nav.menu ul li {
  margin: 0;
  padding: 0 ;
  list-style: none;
  display: inline-block;
}

nav.menu ul li a {
  display: block;
  padding: 0 20px;
  line-height: 44px;
  font-size: 1.4em;
  text-decoration: none;
  color: #fff;
  margin: 0;
}

nav.menu ul li a:hover  {
  background-color: white;
  color: #4d5791;

}
