<main id="main">




  <div class="container center">

    <div class="page-area">

     <!--added semantic element2-->

        <pb-article>
          <h1>Stay on track</h1>
            <div>
                Do you know where you are spending your money? If you really stop to track it down,
                you would get surprised! Proper budget management depends on real data... and this
                app will help you with that!
            </div>
        </pb-article>

        <pb-article >
            <h1>Alerts</h1>
            <div>
                What if your clothing budget ended? You will get an alert. The goal is to never go over the budget.
            </div>
        </pb-article>






         <!--added semantic element2-->


            <article>
                <h1>Pie Chart</h1>
                <p>
                  <canvas id="myChart" width="400" height="400"></canvas>
                </p>

            </article>

          <!-- <div class="donutChart">
                <h1> Donut Chart</h1>
                <div>
                Duration: 0<input type="range" id="duration" min="0" max="5000">5000
                <br>
              <button class="randomize">randomize</button>

            </div> -->

            <div>
            <div>
            <h1>Bar Chart</h1>
            <figure id="bar"></figure>
          </div></div>



          </div>

  </div>

  </main>

